[package]
name = "netexample"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "server"
path = "src/bin/server.rs"

[[bin]]
name = "client"
path = "src/bin/client.rs"

[dependencies]
bitmap_trie = { path = "../../" }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"